
body{
    background-color: #080710;
}

.demo{
  width: 500px;
}  

.buttons{
   padding: 15px 25px;
   font-size: 24px;
   background-color: cornflowerblue;
   font-weight: 10;
   text-align: center;
}